
.home {
    background-color: rgba(214, 202, 202, .06);
}
.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .06);
    border-radius: 7px;
    display: grid;
    grid-template-rows: 1fr 50px;
    &__inputs {
        background-color: rgb(164, 229, 255);
        display: grid;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    
    
}
.input {
    
    
    &__label {

    }
    input {

    }
    &__number {

    }
}